<div class="centered-container full-padding">
    <mat-chip-list aria-label="Filtrar lista">
        <mat-chip [color]="currentFilter == 'all' ? 'primary' : ''" [selected]="currentFilter == 'all'"
        (click)="updateCurrentList('all')">
            Todos
        </mat-chip>
         <mat-chip [color]="currentFilter == 'favorites' ? 'primary' : ''" [selected]="currentFilter == 'favorites'"
         (click)="updateCurrentList('favorites')">
            Favoritos
        </mat-chip>
    </mat-chip-list>
    <div *ngFor="let movie of movies" class="movie-container">
        <app-card [movie]="movie" (favoriteUpdated)="onFavoriteUpdate()"  *ngIf="movie.launchYear!=0"></app-card>
    </div>
</div>
