.card-component {
    margin-bottom: 16px;
    margin-top: 16px;
}

.poster-img {
    height: 112px;
    transition-property: height;
    transition-duration: 0.5s;
}

.poster-img:hover {
    height: 190px;
}